<header xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()" class="my-2 my-lg-0 text-white ml-auto">
                        <a class="navbar-link text-white" th:text="#{navigation.sell}" href="/create_auction"></a>
                        <a class="col ml-3 navbar-link active text-xl-right text-white" th:text="#{navigation.profile}" th:href="@{/profile}"></a>
                        <a class="navbar-link text-xl-right text-white ml-3" th:text="#{navigation.logout}"
                           th:href="@{/logout}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
