<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='welcome.title')"></head>
<body>
<head th:replace="fragments/header.html :: header"></head>
<main role="main">
    <h4 class="display-4" th:text="#{change.password.title}"></h4><br>

    <div class="col-sm-10">
        <p>
            <label for="old.password" class="sr-only"><h4 th:text="#{change.password.old}"></h4></label>
            <input type="password" id="old.password" name="old password" class="form-control"
                   th:placeholder="#{change.password.old}"
                   required
                   autofocus>
        </p>
        <p>
            <label for="new.password" class="sr-only"><h4 th:text="#{change.password.new}"></h4></label>
            <input type="password" id="new.password" name="password" class="form-control"
                   th:placeholder="#{change.password.new}" required>
        </p>
        <p>
            <label for="repeat.password" class="sr-only"><h4 th:text="#{change.password.repeat}"></h4></label>
            <input type="password" id="repeat.password" name="repeat password" class="form-control"
                   th:placeholder="#{change.password.repeat}" required>
        </p>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <div th:text="#{login.wrongCredentials}" th:if="${error}" class="alert alert-danger" role="alert"></div>
        <button class="btn btn-lg btn-primary btn-block" th:text="#{change.password.submit}" type="submit"></button>
        <button class="btn btn-lg btn-primary btn-block" th:text="#{change.password.cancel}" type="submit"></button>
    </div>

</main>
<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>